/* https://css-tricks.com/perfect-full-page-background-image/*/
html { 
    background: url("tunnel.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
body {
    color:#F4F683;
    font-family: 'Indie Flower', cursive;
}
#header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: baseline;
}
#section-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start;
}
h1 {
    font-size: 100px;
    margin: 0%;
    padding-left: 40px;
}

h2 {
    padding-top: 5px;
    font-family: 'Mansalva', cursive;
    font-size: 30px;
    margin-left: 140px;
    margin-top: 0%;
}
h3, h4 {
    margin-bottom:0%;
    margin-top: 0%;
    font-size: 20px;
}
#image-container {
    border-top: 8px dotted #F4F683;

}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px outset #382E4B;

}
#section-two {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    border-bottom: 8px dotted #F4F683;
}

button {
    background-color: transparent;
    padding:0%;
    border: transparent;
       
}
#image-button {
    height: 50px;
    
}

#button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}

.text {
    padding-left: 10px;
    text-decoration: line-through red;
}
#video-container {
    padding:56.25% 0 0 0;
    margin-top: 10px;
    position:relative;
}

  @media screen and (min-width: 440px) {
    /* Mobile Screens */
    #header {
      display: flex;
      flex-direction: row;
    }
    #section-one {
        display: flex;
        flex-direction: row;
    }
    h2 {
        margin-right: 50px;
        font-size: 25px;
    }
    h4 {
        margin: 0% 5% 0% 0%;
    }
    h3, h4 {
        font-size: 25px;
    }
    #image-button {
        height: 100px;
    }
  }
